@import url(../font.css);

body {
    background-color: var(--darkBlue);
}

.center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%)
}
/* Container */
.container {
    position: relative;
    width: 900px;
    height: 400px;
    background: #415f9d;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;


    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;

    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;
}
.container form {
    display: flex;
    height: 100%;
}
.container input {
    width: 100%;
    border: none; outline: none; background-color: transparent;
    border-bottom: 2px solid #fff;
    color: inherit;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    /* box-shadow: 0px 15px 7px -10px rgba(255, 255, 255, 1); */
}

.container .informasi {
    margin-bottom: 20px;
}

/* Left */
.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #fff;
}
.left label {
    display: block;
}

/* FOTO */
.left .fotos {
    width: 150px;
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
    /* height: 100px; */
    /* margin-bottom: 37px; */
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.3);
}
.left .foto {
    width: 100%;
}
.cover {
    background: rgba(0, 0, 0, 0.472);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    display: none;
}
.left .files {
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    display: none;
}
.left .files span {
    font-size: 13px;
}
.left .files i {
    font-size: 29px;
}



/* Right */
.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .informasi {
 width: 307px;
}


.container .button {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}
.container .button button {
    cursor: pointer;
    width: 208.24px;
    height: 38px;
    border: 1px solid #C4C4C4;
    background-color: #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;

    color: #fff;
    font-family: inherit;
    font-weight: 600px;
    font-size: 13px;
    letter-spacing: 0.1em;
}
.container .button button:hover {
    border: 2px solid var(--blue);
}
.container .button .kembali {
    background-color: transparent;
}